<!-- <p>App work!</p> -->
<!-- <app-login></app-login>
<app-user></app-user> -->
<!-- <app-product></app-product> -->

<!-- <div>
  <header>
    HEADER
  </header>
  <nav>
    <ul>
      <li><a routerLink="/product">Product</a></li>
      <li><a routerLink="/user">User</a></li>
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/students">Student</a></li>
    </ul>
  </nav>
  <aside>
    ASIDE
  </aside>
  <main>
    <router-outlet></router-outlet>
  </main>
</div> -->
<!-- <app-header></app-header>
<div class="row">
  <div
    id="sidebarMenu"
    class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
  >
    <app-aside> </app-aside>
</div>
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <router-outlet></router-outlet>
  </main>
</div>
<app-fooster></app-fooster> -->

<app-layout></app-layout>

